img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

header {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  left: 20px;
  top: 25px;
  color: inherit;
  font-size: 1.2em;
}

.logo-title {
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

.image-illustration {
  height: 225px;
}

.menu-page {
  padding: 10px 5%;
  padding-bottom: 75px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  z-index: 1;
}

.change-icon .far{
 font-size: 25px; 
}
.change-icon .fas{
    font-size: 25px;
    color: transparent;
    background-clip: text;
    background: linear-gradient(to bottom, #e948d3 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.change-icon > .far + .fas,
.change-icon:hover > .far {
  display: none;
}

.change-icon:hover > .far + .fas {
  display: inherit;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.restaurant-title > h1 {
  font-family: "Shrikhand";
  font-weight: normal;
}

.restaurant-title > i {
  font-size: 1.5em;
}

.menu-list > div {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list > div > h3 {
  margin: 0;
  margin-bottom: 5px;
  align-self: flex-start;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  align-self: flex-start;
}

.menu-list > div {
  height: 350px;
  position: inherit;
  top: 0;
  overflow: hidden; 
}

.menu-frame {
  position: relative;
  width: 330px;
  height: 80px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  opacity: 0;
  animation-name: display-menu-frame;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.menu-section-title div {
  animation-delay: 1s;
}

.menu-section-title2  div {
  animation-delay: 1.5s;
}

.menu-section-title3  div {
  animation-delay: 2s;
}

@keyframes display-menu-frame {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}

.container-frame {
  width: 100%;
  padding: 8px 15px;
}

.menu-frame .data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-frame .data> div:nth-child(1) {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  transition-property: width;
  transition-duration: 500ms;
}

.menu-frame:hover .data > div:nth-child(1) {
  width: 220px;
}

.naming {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  font-size: .9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cost {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: .9em;
}

.menu-frame .menu-element-animation {
  width: 65px;
  height: 100%;
  margin-right: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  font-size: 1.7em;
  transition-property: margin;
  transition-duration: 2s;
  float: right;
}

.menu-frame:hover .menu-element-animation {
  margin-right: 0px;
}

.menu-frame:hover .menu-element-animation i {
  animation: rotate-check 2s forwards;
}

@keyframes rotate-check {
  from {
    transform: rotateZ(0deg)
  }
  to {
    transform: rotateZ(360deg)
  }
}


li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  html {
    margin: 0 12.5%;
    box-shadow: 0 0 30px lightgrey;
  }

  #menu-title {
    justify-content: center;
  }

  #menu-title > h1 {
    margin-right: 100px;
  }

  #menu-list > div > p, .dash {
    align-self: center;
  }
}