@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    color: #100f0f;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    }

body {
    font-family: "Roboto", "calibri", "Arial", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box; 
    margin: 0%;
    width: 100%;
}

.menu {
    width: 100%;
}

.image-illustration{
    object-fit: cover;
    max-width: 100%;
}

.icon{
    font-size: 20px;
    width: 2%;
    position: relative;
    right: 90px;
}
.title {
    margin: auto;
    width: 100%;
    height: 82px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 6px black;
}

.logo-title{
    height: 37px;
    font-family: "shrikhand";
    font-size: 40px;
}

.top-part {
    width: 100%;
    height: 250px;
}

.menu-list {
    width: 100%;
    
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.restaurant-title {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.restaurant-title h1 {
    font-family: "shrikhand";
    font-size: 27px;
    font-weight: lighter;
    width: 79%;
    margin-left: 20px;
    margin-top: 30px;
}

.change-icon .fas{
    color: transparent;
    background-clip: text;
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.change-icon > .far + .fas,
.change-icon:hover > .far {
  display: none;
}

.change-icon:hover > .far + .fas {
  display: inherit;
}

.position-relative{
    font-size: 25px;
}

.menu-section-title {
    margin: auto;
    border-bottom: 3px solid #99e2d0;
    width: 50px;
    line-height: 32px;
    font-weight: normal;
    font-size: 17px;
}

h3.menu-section-title {
    margin-left: 20px;
    margin-bottom: 20px;
}

.menu-section {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.fa-check {
    border-radius: 50%;
    color: #99e2d0;
    padding: 5px;
    background-color: white;
    transform: rotate(0deg);
    transition-duration: 600ms;
}

@keyframes move-inside {
    from {
        left: 73%;
    }

    to {
        left: 56%;
    }
}

.menu-element-animation {
    height: 80px;
    width: 65px;
    background-color: #99e2d0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateX(65px);
    left: 835px;
     position: relative;
    left: 95%;
    bottom: 174px;
    
}

.menu-element:hover .menu-element-animation {
   
    transform: translateX(-60px);
    transition-duration: 5s;
}

.menu-element:hover .fa-check {
    transform: rotate(360deg);
}

.menu-element{
    background-color: #f6f6f6;
    width: 95%;
    height: 74px;
    box-shadow: 5px 7px 11px 5px lightgrey;
    border-radius: 24px;
    margin-bottom: 30px;
}

.menu-element h4,.description{
    padding-left: 15px;
    
}

.cost {
   display: flex;
    width: 20%;
    height: 72px;
    transform: translateX(70px);
    transition: 1s;
    align-items: flex-end;
    font-family: "roboto";
    font-weight: bold;
    justify-content: center;
    line-height: 56px;
    position: relative;
    left: 64%;
    bottom: 90px;
    
}

.description {
    width: 277px;
    height: 33px;
    font-size: 17px;
    font-weight: 100;
    display: inline-block;
    font-family: "robotothin";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 1s;
    line-height: 12px;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    width: 40%;
    height: 51px;
    box-shadow: 5px 7px 11px 5px lightgrey;
    margin: auto; 
    margin-bottom: 50px;
    margin-top: 50px;
}

























.footer-container {
    background-color: #353535;
    height: 200px;
    line-height: 25px;
}

.footer-container h1 {
    color: #ffffff;
    font-family: "shrikhand";
    font-size: 20px;
    font-weight: lighter;
    margin-left: 45px;
    padding-top: 30px;
}

ul {
    font-size: 18px; 
}

.propose {
    margin-left: 9px;
}

.color-style{
  color: #ffffff;  
}

